## Importación y lectura de datos

In [17]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [18]:
# base folder en drive
BASE_FOLDER = '../datasets'

In [19]:
#importar csv de drive
import pandas as pd
df = pd.read_csv(f'{BASE_FOLDER}/equipment_maintenance.csv')

In [20]:
# numner of columns and rows available in the dataset
df.shape

(8289, 93)

In [21]:
df.head()

,Country,Asse7,Completion #,Activation type,Supplier,Environment,Running status,Installation date,Start date,Failure date,...,H2S (Y/N),Chemical injection (Y/N),Usage Motor,Usage Pump,Usage Protector,Usage Intake,Usage Round,Usage Flat,Usage Gauge,Pump is NEW?
0,ARGENTINA,Y8PMX2,1,ESP,Unknown,Offshore,Pulled,24/01/1992,NaN,09/10/1995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
1,ARGENTINA,Y8PMX2,2,ESP,Unknown,Offshore,Pulled,29/10/1995,NaN,29/10/1995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
2,ARGENTINA,Y8PMX2,3,ESP,Unknown,Offshore,Pulled,09/11/1995,NaN,11/11/1995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3,ARGENTINA,Y8PMX2,4,ESP,Unknown,Offshore,Pulled,12/12/1995,NaN,12/12/1995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
4,ARGENTINA,Y8PMX2,5,ESP,Unknown,Offshore,Pulled,18/12/1995,NaN,29/05/1996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown

## Limpieza de datos

In [22]:
df.columns = df.columns.str.upper()
df.columns = df.columns.str.replace(' ', '_')
df.rename(columns={'COMPLETION_#': 'COMPLETION_NUMBER',
                   'ASSE7': 'ASSET'}, inplace=True)

In [23]:
df.insert(0, 'ID_EQUIPMENT', df['ASSET'] + '-' + df['COMPLETION_NUMBER'].astype(str))

# remove non-useful columns
df = df.drop('STATUS_CHECK', axis=1)
df = df.drop('DATE/TIME_CHECK', axis=1)

In [24]:
df.columns[:15]

Index(['ID_EQUIPMENT', 'COUNTRY', 'ASSET', 'COMPLETION_NUMBER',
       'ACTIVATION_TYPE', 'SUPPLIER', 'ENVIRONMENT', 'RUNNING_STATUS',
       'INSTALLATION_DATE', 'START_DATE', 'FAILURE_DATE', 'ACLS_DATE',
       'POOH_DATE', 'LAST_UPDATE', 'RUN_LIFE'],
      dtype='object')

In [25]:
# data types in the columns
df.dtypes

ID_EQUIPMENT         object
COUNTRY              object
ASSET                object
COMPLETION_NUMBER     int64
ACTIVATION_TYPE      object
                      ...
USAGE_INTAKE         object
USAGE_ROUND          object
USAGE_FLAT           object
USAGE_GAUGE          object
PUMP_IS_NEW?         object
Length: 92, dtype: object

In [26]:
df['SUPPLIER'] = df['SUPPLIER'].str.upper()
df['ENVIRONMENT'] = df['ENVIRONMENT'].str.upper()
df['RUNNING_STATUS'] = df['RUNNING_STATUS'].str.upper()
df['ORDINAL_CHECK'] = df['ORDINAL_CHECK'].str.upper().str.replace(' ', '_')
df['STOP_GROUP'] = df['STOP_GROUP'].str.upper().str.replace(' ', '_')
df['LAST_INSTALL'] = df['LAST_INSTALL'].apply(lambda x: 1 if x == 'Yes' else 0)

In [27]:
df['LAST_UPDATE'] = df['LAST_UPDATE'].apply(lambda x:  
    pd.to_datetime(45666, unit='D', origin='1899-12-30') if pd.notnull(x) else x)

In [28]:
df['LAST_UPDATE'].value_counts(dropna=False)

LAST_UPDATE
NaT           7425
2025-01-09     864
Name: count, dtype: int64

In [29]:
df['INSTALLATION_DATE'] = pd.to_datetime(df['INSTALLATION_DATE'], dayfirst=True)
df['START_DATE'] = pd.to_datetime(df['START_DATE'], dayfirst=True)
df['ACLS_DATE'] = pd.to_datetime(df['ACLS_DATE'], dayfirst=True)
df['POOH_DATE'] = pd.to_datetime(df['POOH_DATE'], dayfirst=True)
df['FAILURE_DATE'] = pd.to_datetime(df['FAILURE_DATE'], dayfirst=True)
df['COMPLETION_NUMBER'] = df['COMPLETION_NUMBER'].astype(int)

In [30]:
# fills start_date with installation_date when empty
df['START_DATE'] = df['START_DATE'].fillna(df['INSTALLATION_DATE'])

Existe un registro que no posee calidad. Ese registro corresponde a el 'ID_EQUIPMENT'= 'LKLMIMX2GI-3'. Este registro está etiquetado como un 'Data Error' en la columna de 'STATUS_CHECK'. Por tanto es necesario retirarlo al final.

In [31]:
# Create a new Run_life column to compare to the existing one. 
df.insert(15, 'RUN_LIFE_2', np.abs(
    df['INSTALLATION_DATE'] -
    df[['FAILURE_DATE', 'ACLS_DATE', 'POOH_DATE']].min(axis=1))
         )

# get the indices of the non-matching rows
different_indices = \
    df.index[df['RUN_LIFE'] != df['RUN_LIFE_2'].dt.days]

**different_indices**: se refiere a los indices de los registros que no poseen FAILURE_DATE, ACLS_DATE ni POOH_DATE.

In [32]:
df.iloc[:,:16].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8289 entries, 0 to 8288
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_EQUIPMENT       8289 non-null   object
 1   COUNTRY            8289 non-null   object
 2   ASSET              8289 non-null   object
 3   COMPLETION_NUMBER  8289 non-null   int64
 4   ACTIVATION_TYPE    8289 non-null   object
 5   SUPPLIER           8233 non-null   object
 6   ENVIRONMENT        8289 non-null   object
 7   RUNNING_STATUS     8289 non-null   object
 8   INSTALLATION_DATE  8288 non-null   datetime64[ns]
 9   START_DATE         8288 non-null   datetime64[ns]
 10  FAILURE_DATE       6084 non-null   datetime64[ns]
 11  ACLS_DATE          1147 non-null   datetime64[ns]
 12  POOH_DATE          6887 non-null   datetime64[ns]
 13  LAST_UPDATE        864 non-null    datetime64[ns]
 14  RUN_LIFE           8289 non-null   int64
 15  RUN_LIFE_2         7711 non-null   timedelta64[ns]
dtypes: datetime64[ns](6), int64(2), object(7), timedelta64[ns](1)
memory usage: 1.0+ MB

In [33]:
# verificar que la razón de que esos valores sean diferentes es porque run_life_2 es NaT en esos registros
print("\nCantidad de valores diferentes comparando RUN_LIFE y RUN_LIFE_2:", len(different_indices))
print("La cantidad de valores NaT en RUN_LIFE_2 es:", df['RUN_LIFE_2'].dt.days.isnull().sum())

Cantidad de valores diferentes comparando RUN_LIFE y RUN_LIFE_2: 578
La cantidad de valores NaT en RUN_LIFE_2 es: 578

La conclusión es que todos los valores diferentes corresponden a valores **NaT**.

In [34]:
df.iloc[different_indices, :16].head()

,ID_EQUIPMENT,COUNTRY,ASSET,COMPLETION_NUMBER,ACTIVATION_TYPE,SUPPLIER,ENVIRONMENT,RUNNING_STATUS,INSTALLATION_DATE,START_DATE,FAILURE_DATE,ACLS_DATE,POOH_DATE,LAST_UPDATE,RUN_LIFE,RUN_LIFE_2
83,Y8PMI2-16,ARGENTINA,Y8PMI2,16,ESP,QUAKER,OFFSHORE,RUNNING,2022-10-14,2022-10-15,NaT,NaT,NaT,2025-01-09,818,NaT
102,Y8PMI3-19,ARGENTINA,Y8PMI3,19,ESP,GOONER,OFFSHORE,RUNNING,2023-08-21,2023-08-29,NaT,NaT,NaT,2025-01-09,507,NaT
140,Y8PMI6-23,ARGENTINA,Y8PMI6,23,ESP,GOONER,OFFSHORE,RUNNING,2022-09-12,2022-09-12,NaT,NaT,NaT,2025-01-09,850,NaT
178,Y8PMI8-10,ARGENTINA,Y8PMI8,10,ESP,MAC,OFFSHORE,RUNNING,2023-04-20,2023-04-23,NaT,NaT,NaT,2025-01-09,630,NaT
216,Y8PM2X-21,ARGENTINA,Y8PM2X,21,ESP,GOONER,OFFSHORE,RUNNING,2023-03-05,2023-03-05,NaT,NaT,NaT,2025-01-09,676,NaT

In [35]:
df.iloc[different_indices]['RUNNING_STATUS'].value_counts()

RUNNING_STATUS
RUNNING    570
IDLE         7
PULLED       1
Name: count, dtype: int64

Esto es coherente porque IDLE se refiere a equipos que están disponibles pero que no están operando. El registro que se muestrea como PULLED es el mismo registro LKLMIMX2GI-3 sin calidad mencionado anteriormente.

In [36]:
df.RUNNING_STATUS.value_counts()

RUNNING_STATUS
PULLED     6922
RUNNING     575
ACLS        542
FAILED      174
IDLE         76
Name: count, dtype: int64

Los equipos que están con RUNNING_STATUS = RUNNING deben coincidir. Por tanto vamos a verificar qué 5 equipos en estado RUNNNING possen una fecha falla, o fecha de retiro o fecha de paro voluntario (contradictorio).

In [37]:
df[df.RUNNING_STATUS == 'RUNNING'][df.RUN_LIFE_2.notnull()].iloc[:, :16]

,ID_EQUIPMENT,COUNTRY,ASSET,COMPLETION_NUMBER,ACTIVATION_TYPE,SUPPLIER,ENVIRONMENT,RUNNING_STATUS,INSTALLATION_DATE,START_DATE,FAILURE_DATE,ACLS_DATE,POOH_DATE,LAST_UPDATE,RUN_LIFE,RUN_LIFE_2
1085,P8GMI7-19,ARGENTINA,P8GMI7,19,ESP,GOONER,OFFSHORE,RUNNING,2022-04-24,2022-04-26,NaT,2022-04-24,NaT,2025-01-09,0,0 days
1564,VMLM34-13,ARGENTINA,VMLM34,13,ESP,GOONER,OFFSHORE,RUNNING,2023-02-27,2023-02-27,NaT,NaT,2023-03-29,2025-01-09,30,30 days
2249,Y8VMXIY-3,CUBA,Y8VMXIY,3,ESP,GOONER,ONSHORE,RUNNING,2024-11-20,2024-11-25,2024-11-25,NaT,NaT,2025-01-09,5,5 days
4500,MO7MX4-5,IRELAND,MO7MX4,5,ESP,GOONER,OFFSHORE,RUNNING,2025-01-03,2025-01-08,2025-01-07,NaT,NaT,2025-01-09,4,4 days
4842,HYUMMX2-1,CHINA,HYUMMX2,1,ESP,QUAKER,OFFSHORE,RUNNING,2024-03-22,2024-03-22,NaT,2024-03-22,NaT,2025-01-09,0,0 days

Se procede a verificar estos equipos con los id's 'P8GMI7-19', 'VMLM34-13', 'Y8VMXIY-3', 'MO7MX4-5', 'HYUMMX2-1' Y se verificó que efectivamente están activos y que las fechas resgistradas de falla no son consistentes, se procede a quitarlas.

In [38]:
df.loc[df['ID_EQUIPMENT'] == 'P8GMI7-19', 'ACLS_DATE'] = pd.NaT
df.loc[df['ID_EQUIPMENT'] == 'VMLM34-13', 'POOH_DATE'] = pd.NaT
df.loc[df['ID_EQUIPMENT'] == 'Y8VMXIY-3', 'FAILURE_DATE'] = pd.NaT
df.loc[df['ID_EQUIPMENT'] == 'MO7MX4-5', 'FAILURE_DATE'] = pd.NaT
df.loc[df['ID_EQUIPMENT'] == 'HYUMMX2-1', 'ACLS_DATE'] = pd.NaT

In [39]:
# Run_life2 is again calculated once the 5 records with running_status = running have had dates in ACLS removed.
df['RUN_LIFE_2'] = np.abs(
    df['INSTALLATION_DATE'] -
    df[['FAILURE_DATE', 'ACLS_DATE', 'POOH_DATE']].min(axis=1))    

different_indices = \
    df.index[df['RUN_LIFE'] != df['RUN_LIFE_2'].dt.days]

In [40]:
df.iloc[different_indices]['RUNNING_STATUS'].value_counts()

RUNNING_STATUS
RUNNING    575
IDLE         7
PULLED       1
Name: count, dtype: int64

In [41]:
# recordar que indices diferentes se refiere a las diferencias en run_life y run_life_2
(df.loc[different_indices, 'INSTALLATION_DATE'] +  \
pd.to_timedelta(df.loc[different_indices, 'RUN_LIFE'], unit='D')).unique()

<DatetimeArray>
['2025-01-09 00:00:00', '2022-04-24 00:00:00', '2023-03-29 00:00:00',
 '2024-11-25 00:00:00',                 'NaT', '2025-01-07 00:00:00',
 '2024-03-22 00:00:00']
Length: 7, dtype: datetime64[ns]

¿De donde salén los valores de run life de estos equipos que no tienen registro de fecha de falla, paro voluntario o retiro? La razón es para mostrar el run life de los posos que están operando. Cuanto durarón los que ya fallaron. Cuántos días han operando.

In [124]:
df[df.RUNNING_STATUS == 'RUNNING'][df.RUN_LIFE_2.notnull()].iloc[:, :16]

,ID_EQUIPMENT,COUNTRY,ASSET,COMPLETION_NUMBER,ACTIVATION_TYPE,SUPPLIER,ENVIRONMENT,RUNNING_STATUS,INSTALLATION_DATE,START_DATE,FAILURE_DATE,ACLS_DATE,POOH_DATE,LAST_UPDATE,RUN_LIFE,RUN_LIFE_2
1085,P8GMI7-19,ARGENTINA,P8GMI7,19,ESP,GOONER,OFFSHORE,RUNNING,2022-04-24,2022-04-26,NaT,NaT,NaT,1,0,0 days
1564,VMLM34-13,ARGENTINA,VMLM34,13,ESP,GOONER,OFFSHORE,RUNNING,2023-02-27,2023-02-27,NaT,NaT,NaT,1,30,30 days
2249,Y8VMXIY-3,CUBA,Y8VMXIY,3,ESP,GOONER,ONSHORE,RUNNING,2024-11-20,2024-11-25,NaT,NaT,NaT,1,5,5 days
4500,MO7MX4-5,IRELAND,MO7MX4,5,ESP,GOONER,OFFSHORE,RUNNING,2025-01-03,2025-01-07,NaT,NaT,NaT,1,4,4 days
4842,HYUMMX2-1,CHINA,HYUMMX2,1,ESP,QUAKER,OFFSHORE,RUNNING,2024-03-22,2024-03-22,NaT,NaT,NaT,1,0,0 days